.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white; // IMPORTANT (base color)
  mix-blend-mode: difference;

  z-index: 1000;

  @media (max-width: 768px) {
    padding: 14px 20px;
}
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1rem;
  font-weight: 900;

  @media (max-width: 768px) {
    gap: 10px;          // 🔥 tighter
    font-size: 12px;    // 🔥 smaller text
  }
}

.dot {
  font-size: 18px;
  margin-right: -10px;
}

.nav-right {
  display: flex;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 18px;          // better spacing
  }
}
.nav-right a {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  letter-spacing: 1px;
}

/* HOVER (subtle) */
.nav-right a:hover {
  opacity: 0.6;
}

.Home{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-item {
  position: relative;
  display: inline-block;
  overflow: hidden;

  height: 18px;
  font-size: 14px;

  @media (max-width: 768px) {
    height: 16px;
    font-size: 12px;
  }
}
/* BOTH TEXTS */
.text {
  display: block;
  transition: transform 0.4s ease;
}

/* SECOND TEXT starts below */
.text.bottom {
  position: absolute;
  left: 0;
  top: 100%;
}

/* 🔥 HOVER EFFECT */
.nav-item:hover .top {
  transform: translateY(-100%);
}

.nav-item:hover .bottom {
  transform: translateY(-100%);
}
@media (max-width: 768px) {
  .time,
  .coords {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-item:hover .top,
  .nav-item:hover .bottom {
    transform: none;
  }
}