@font-face {
  font-family: 'font1';
  src: url('../assets//font//MG-B-BiU9T5KX.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.text-transition-section {
  position: relative;
  overflow: hidden;
  padding: 18vh 0;
  background-color: var(--bg-brown);

   @media (max-width: 768px) {
    height: 100vh;              
    display: flex;              
    align-items: center;
    justify-content: center;
    padding: 0;                
  }
}

.text-transition-container {
  padding: 0 1.2vw;
  text-align: center;
  

  h2 {
    font-size: 14.5vw;
    line-height: 1.1;
    letter-spacing: -0.04em;
    color: var(--text-brown);
    letter-spacing: 5px;
    font-family: "font1";
  }
   @media (max-width: 768px) {
    h2 {
      font-size: 18vw;   // 🔥 bigger but controlled
      line-height: 1;
      letter-spacing: 2px;
    }
  }
}
